<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>421979149661-mb69o5q3n0gpn2qjdsmrdhulu9r63qmb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.421979149661-mb69o5q3n0gpn2qjdsmrdhulu9r63qmb</string>
	<key>API_KEY</key>
	<string>AIzaSyCgCceUBSDMnHiQylMr8PymYnXNAa_dFMI</string>
	<key>GCM_SENDER_ID</key>
	<string>421979149661</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.carolinedavis.DinnerTime</string>
	<key>PROJECT_ID</key>
	<string>dinnertime-cc11a</string>
	<key>STORAGE_BUCKET</key>
	<string>dinnertime-cc11a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:421979149661:ios:4d321ecdac9163a8</string>
	<key>DATABASE_URL</key>
	<string>https://dinnertime-cc11a.firebaseio.com</string>
</dict>
</plist>